<ion-header class="header">
    <ion-navbar color="dark">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <!-- <figure class="logo"><img src="img/logo.png" alt="" /> </figure> -->
        <ion-title class="center">Book Car</ion-title>
        <div class="right-hdr">
            <span><a href="#"><ion-icon name="text" (click)="queryForm($event)"></ion-icon></a></span>
            <span><a href="#"><ion-icon name="person" (click)="presentModal($event)"></ion-icon></a></span>
        </div>
    </ion-navbar>
</ion-header>
<ion-content>
    <div class="box1 static form2">
        <ion-list>
                <ion-grid>
                        <ion-row justify-content-start align-items-center class="py-1">  
                               <ion-col class="pl-0"><ion-icon name="pin"></ion-icon></ion-col> 
                               <ion-col>                                
                                   <span class="selectbox">
                                     <select id="country" [(ngModel)]="country" (change)="onSelectCarCountryChange(country)" placeholder="Country">
                                            <option value=" " selected="true">Country</option>
                                        <option *ngFor="let c of carCountry" [value]="c?.id">{{c.countryName}}</option>
                                        </select>
                                   </span>
                               </ion-col>                                           
                              </ion-row>
                              <ion-row justify-content-start align-items-center class="py-1">   
                                    <ion-col class="pl-0"><ion-icon name="pin"></ion-icon></ion-col> 
                                    <ion-col>                                
                                        <span class="selectbox">
                                          <select id="state" [(ngModel)]="state" placeholder="State" (change)="onSelectCarStateChange(state)">
                                                <option value=" " selected="true">State</option>
                                                <option *ngFor="let s of carState" [value]="s?.id">{{s?.stateName}}</option>
                                            </select>
                                        </span>
                                    </ion-col>                                           
                                   </ion-row>
                                   
                                   <ion-row justify-content-start align-items-center class="form-group">   
                                        <ion-col class="pl-0">
                                                <ion-label>
                                                  <ion-icon name="calendar"></ion-icon>
                                                </ion-label>
                                        </ion-col> 
                                        <ion-col> 
                                                <ion-datetime [(ngModel)]="departureDate" placeholder="Departure" displayFormat="MMM DD YYYY" [min]="departureDate"  max="2050-12-01"></ion-datetime>
                                            </ion-col>                                           
                                       </ion-row>

                                       <ion-row justify-content-start align-items-center class="py-1">   
                                            <ion-col class="pl-0"><ion-icon name="clock"></ion-icon></ion-col> 
                                            <ion-col>                                
                                                <span class="selectbox">
                                                  <select id="days" [(ngModel)]="days" placeholder="Hour(s)/Day(s)">
                                                    <option value=" " selected="true">Hour(s)/Day(s)</option>
                                                    <option *ngFor="let d of carDays" [value]="d?.id">{{d?.hoursdays}}</option>
                                                </select>
                                                </span>
                                            </ion-col>                                           
                                           </ion-row>

                                           <ion-item class="input-group" no-padding>
                                                <ion-label>
                                                    <ion-icon name="people"></ion-icon>
                                                </ion-label>
                                                <ion-input [(ngModel)]="guest"  type="number" placeholder="Guest"></ion-input>
                                                <ion-note item-end>
                                                    <button ion-button clear color="dark" (click)="decrementGuestCounter();">
                                                        <ion-icon name="remove"></ion-icon>
                                                    </button>
                                                    <button ion-button clear color="dark" (click)="incrementGuestCounter();">
                                                        <ion-icon name="add"></ion-icon>
                                                    </button>
                                                </ion-note>
                                            </ion-item>

                                            <ion-row justify-content-start align-items-center class="py-1">   
                                                    <ion-col class="pl-0"><ion-icon name="car"></ion-icon></ion-col> 
                                                    <ion-col>                                
                                                        <span class="selectbox">
                                                          <select id="state" [(ngModel)]="driverType" placeholder="Type">
                                                            <option value=" " selected="true">Driver Type</option>    
                                                            <option [value]="1">With Driver</option>
                                                                <option [value]="0" >Without Driver</option>                                                            </select>
                                                        </span>
                                                    </ion-col>                                           
                                                   </ion-row>

                                                   <ion-row justify-content-start align-items-center class="py-1">   
                                                        <ion-col class="pl-0"><ion-icon name="car"></ion-icon></ion-col> 
                                                        <ion-col>                                
                                                            <span class="selectbox">
                                                              <select id="state" [(ngModel)]="classification" placeholder="Car Type">
                                                                <option value=" " selected="true">Car Type</option>  
                                                                <option *ngFor="let cls of carClassification" [value]="cls?.id">{{cls?.classificationName}}</option>
                                                                </select>
                                                            </span>
                                                        </ion-col>                                           
                                                       </ion-row>
    
                </ion-grid>           
        </ion-list>
        <button ion-button block color="dark" (click)="submitCarForm();">Search</button>
    </div>
</ion-content>
