page-booknowyacht { }
    .form2{
        &.pt-0{
            padding-top:0px;
            top:0px !important;
        }
        .row{
           border-bottom:1px solid #dedede;
        }
        .pl-0{
            padding-left:0px;
        }
        .pt-0{
            padding-top:0px;
        }
        .py-1{
            padding-top:5px;
            padding-bottom:5px;
        }
        .col{
            max-width: 30px;
        }
        .col + .col{
           max-width: calc(100% - 30px);
        }
        .text-input-md{
            margin-top: 0px;
            margin-bottom:0px;
        }
        .form-group{
            padding-top:2px;
            padding-bottom:2px;
            .col{
                max-width: 80px;
            }
            .col + .col{
               max-width: calc(100% - 80px);
            }
            ion-label, ion-datetime{
                font-size: 16px;
                line-height: 20px;
                font-weight: 400;
                color: #999;
                padding:5px 0px;
                margin:0px;
            }
        }
        ion-icon{
            font-size: 19px;
            color:#999;
        }
        .selectbox{
            position: relative;           
            select { 
                font-size: 16px;
                line-height: 20px;
                font-weight: 400;
                color: #999;          
                padding: 0px;
                width:100%;
                min-width: 100%;
                border: none;
                outline: none;
                height: auto;
                background: transparent;
                -webkit-appearance: none;
                -moz-appearance: none;
                text-overflow: '';
                text-indent: 0.01px;    
                text-overflow: '';  
                option{                    
                    color:#999;                      
                    &:hover{                       
                        background: #bb9754;
                    }                     
                }         
            }
            &.selectbox:after {
                top:2px;
                right:0px;
                margin: 0px;
                padding: 0px;
                border-color:#999;
                border-style:solid;
                border-width:0px 1px 1px 0px;
                transform: rotate(45deg);
                width:7px;
                height: 7px;
                content: "";
                position: absolute;               
                pointer-events: none;    
      
            }        
        }
    }
.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child{
    border-radius: 0px;
}

