<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Accordion List</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-item *ngFor="let d of specs; let i=index" text-wrap (click)="toggleGroup(i)" [ngClass]="{active: isGroupShown(i)}">
            <ion-icon color="success" item-right [name]="isGroupShown(i) ? 'arrow-down' : 'arrow-forward'"></ion-icon>
            <h2>{{d.title}}</h2>
            <div *ngIf="isGroupShown(i)">{{d.description}}</div>
        </ion-item>
        <!-- <button ion-item >
      Accordion title
      <div >
        Accordion content
      </div>
      <ion-icon name="add" item-end></ion-icon>
    </button>
    <button ion-item >
      Accordion title
      <div >
        Accordion content
      </div>
      <ion-icon name="add" item-end></ion-icon>
    </button>
    <button ion-item >
      Accordion title
      <div >
        Accordion content
      </div>
      <ion-icon name="add" item-end></ion-icon>
    </button> -->
        <ion-item>
            <button lightgray full (click)="incrementQty()">+</button>
            <ion-item>
                <ion-input type="number" min="1" [value]="qty" [(ngModel)]="qty"></ion-input>
            </ion-item>
            <button lightgray full (click)="decrementQty()">-</button>
        </ion-item>
    </ion-list>
    <div *ngIf="selectedItem" padding>
        You navigated here from <b>{{selectedItem.title}}</b>
    </div>
</ion-content>
