page-modal1 {
  background: rgba(43, 60, 78, 0.66);
   p{
       text-align: center;
    font-size: 18px;
    font-weight: 600;
   }
   .modal{
    background: rgba(255, 255, 255, 0.77);
    padding: 10px 
   }
   
}
