<ion-header class="header">
    <ion-navbar color="dark">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        
        <!-- <figure class="logo"><img src="img/logo.png" alt="" /> </figure> -->
        <ion-title class="center">YACHT</ion-title>
          <div class="right-hdr">
            <span><a href="#"><ion-icon name="text" (click)="queryForm($event)"></ion-icon></a></span>
            <span><a href="#"><ion-icon name="person" (click)="presentModal($event)"></ion-icon></a></span>
        </div>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <h2 class="pd-left-rgt0 line font-size20">Food & Drinks</h2>
    <div class="accordion bg-accordion">
        <div class="acc-item divider" *ngFor="let foodObject of yachtFood; let i=index" text-wrap (click)="toggleGroup(i)" [ngClass]="{active: isGroupShown(i)}">
            <h2 class="acc-title">{{foodObject.categoryName}} <ion-icon color="success" [name]="isGroupShown(i) ? 'arrow-up' : 'arrow-down'"></ion-icon></h2>
            <div class="acc-content" *ngIf="isGroupShown(i)">
                <div class="box1 food_drink static1">
                    <ion-grid>

                        <ion-row>
                            <ion-col col-7>
                                Name
                            </ion-col>
                            <ion-col col-2>
                                Price
                            </ion-col>
                            <ion-col col-3>
                                Quantity
                            </ion-col>
                        </ion-row>

                <ion-row  *ngFor="let foodObjectValue of foodObject.FoodItems; let i=index" >
                            <ion-col col-7>
                                {{foodObjectValue.itemName}}
                            </ion-col>
                            <ion-col col-2>
                                {{getCurrency(yachtDetails?.currencyId)}}
                                {{foodObjectValue.amount}}
                            </ion-col>
                            <ion-col col-3>
                                <ion-list>
                                    <ion-item>
                                        <ion-select interface="popover" [(ngModel)]="foodObjectValue.qty" placeholder="Sel." (ionChange)="addToCart(foodObjectValue,$event);">
                                            <ion-option value="" selected="true">1</ion-option>
                                            <ion-option value="1">1</ion-option>
                                            <ion-option value="2">2</ion-option>
                                             <ion-option value="3">3</ion-option>
                                            <ion-option value="4">4</ion-option>
                                             <ion-option value="5">5</ion-option>
                                            <ion-option value="6">6</ion-option>
                                             <ion-option value="7">7</ion-option>
                                            <ion-option value="8">8</ion-option>
                                             <ion-option value="9">9</ion-option>
                                        </ion-select>
                                    </ion-item>
                                </ion-list>
                            </ion-col>
                        </ion-row>
                       
                    </ion-grid>
                </div>
            </div>
        </div>
    </div>
    <div>
        <ion-grid no-padding>
            <ion-row>
               <ion-col col-12>
                    <button ion-button small block color="dark" class="square" icon-left (click)="removeCart();">
                     <span style="background:red;border-radius:2px;width: 20px;">{{yachtCartlength}}</span>
                        <ion-icon name="cart"></ion-icon>{{getCurrency(yachtDetails?.currencyId)}} {{yachtPrice | number:'1.2-2'}}</button>
                </ion-col>
                <ion-col col-6>
                    <button ion-button small block color="dark" class="square" icon-left (click)="goBack()">
                        <ion-icon name="arrow-back"></ion-icon> Back</button>
                </ion-col>
                <ion-col col-6>
                   <button ion-button small block color="dark" class="square" icon-right (click)="submitFormCart();">Next
                        <ion-icon name="arrow-forward"></ion-icon>
                    </button>                  
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>
