page-booking_summary {
    .detail-box {
        margin-bottom: 10px;
    }
    .detail-box .grid [col-12] {
        font-size: 16px;
    }
    .detail-box h5 {
        margin-bottom: 0;
        padding: 5px 5px 0;
    }
}
