 <ion-header class="header">
    <ion-navbar color="dark">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <!-- <figure class="logo"><img src="img/logo.png" alt="" /> </figure> -->
        <ion-title class="center">SIGNUP</ion-title>
        
    </ion-navbar>
</ion-header>
<ion-content> 
    <div class="box1 static">
        <ion-list>
            <ion-item>
              <ion-label><ion-icon name="person"></ion-icon></ion-label>
              <ion-input type="text" [(ngModel)]="firstName" placeholder="First Name"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label><ion-icon name="person"></ion-icon></ion-label>
              <ion-input type="text" [(ngModel)]="lastName" placeholder="Last Name"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label><ion-icon name="mail"></ion-icon></ion-label>
              <ion-input type="email" [(ngModel)]="email" placeholder="Email"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label><ion-icon name="lock"></ion-icon></ion-label>
              <ion-input type="password" [(ngModel)]="password" placeholder="Password"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label><ion-icon name="lock"></ion-icon></ion-label>
              <ion-input type="password" [(ngModel)]="confirmPassword" placeholder="Confirm Password"></ion-input>
            </ion-item>
            <!-- <ion-item>
              <ion-label><ion-icon name="card"></ion-icon></ion-label>
              <ion-input type="text" [(ngModel)]="card" placeholder="Name on Credit Card"></ion-input>
            </ion-item> -->
            <ion-item>
              <ion-label><ion-icon name="calendar"></ion-icon></ion-label>
              <ion-datetime placeholder="Date of Birth" displayFormat="MMM DD YYYY" [(ngModel)]="dob"></ion-datetime>
            </ion-item>
            <!-- <ion-item>
              <ion-label><ion-icon name="pin"></ion-icon></ion-label>
              <ion-input type="text" [(ngModel)]="address" placeholder="Address"></ion-input>
            </ion-item> -->
            <ion-item>
              <ion-label><ion-icon name="pin"></ion-icon></ion-label>
              <ion-select interface="popover" id="country" [(ngModel)]="country" (ionChange)="onSelectUserCountryChange($event)" placeholder="Country">
                  <ion-option value=" " selected="true">Country</ion-option>    
                <ion-option *ngFor="let c of userCountry" [value]="c.id">{{c.name}}</ion-option>
                </ion-select>
            </ion-item>
           <!--  <ion-item>
              <ion-label><ion-icon name="pin"></ion-icon></ion-label>
              <ion-select interface="popover" id="state" [(ngModel)]="state" (ionChange)="onSelectUserStateChange($event)" placeholder="State">
                <ion-option value=" " selected="true">State</ion-option>    
                <ion-option *ngFor="let s of userState" [value]="s.id">{{s.name}}</ion-option>
                </ion-select>
            </ion-item> -->
           <!--  <ion-item>
              <ion-label><ion-icon name="pin"></ion-icon></ion-label>
              <ion-select interface="popover" id="city" [(ngModel)]="city"  placeholder="City">
                <ion-option value=" " selected="true">City</ion-option>    
                    <ion-option *ngFor="let cty of userCity" [value]="cty.id">{{cty.name}}</ion-option>
                </ion-select>
            </ion-item> -->
            <ion-item>
              <ion-label><ion-icon name="call"></ion-icon></ion-label>
              <ion-input type="tel" [(ngModel)]="contactNumber" placeholder="Phone No."></ion-input>
            </ion-item>
        </ion-list>
        
        <button ion-button block color="dark" (click)="submitForm();">Sign Up</button>
        <h3>Already have an account? <a href="javscript:void(0);" class="forgot"  (click)="goLogin();">Login here</a></h3>
    </div>
</ion-content>
