<ion-header class="header">
    <ion-navbar color="dark">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <!-- <figure class="logo"><img src="img/logo.png" alt="" /> </figure> -->
        <ion-title class="center">FAQ</ion-title>

          <div class="right-hdr">
            <span><a href="#"><ion-icon name="text" (click)="queryForm($event)"></ion-icon></a></span>
            <span><a href="#"><ion-icon name="person" (click)="presentModal($event)"></ion-icon></a></span>
        </div>
    </ion-navbar>
</ion-header>
<ion-content padding>
   
        <h2 class="pd-left-rgt0 line font-size20">Frequently Asked Questions</h2>               

        <div class="accordion">
            <div class="acc-item" *ngFor="let d of specs; let i=index" text-wrap (click)="toggleGroup(i)" [ngClass]="{active: isGroupShown(i)}">
                <h2 class="acc-title" >{{d.title}} <ion-icon color="success" [name]="isGroupShown(i) ? 'arrow-up' : 'arrow-down'"></ion-icon></h2>
                <div class="acc-content" *ngIf="isGroupShown(i)">
                            {{d.description}}
                </div>
            </div>
        </div>

        
 
</ion-content>
