page-villalimosine_detail {
    .list {
        .chk-box.item {
            border: none;
            padding-left: 0;
        }
    }
    .chk-box {
        background: none;
        border: none;
        .label {
            color: #fff;
        }
    }
}
